.puzzle__menu{
  background-color: $color3;
  height: 65px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 12%;
}

.user__menu{
  position: relative;
}

.task__edit{
  margin-left: 30px;
  line-height: 65px;
  font-size: 18px;
}

.task__edit--link{
  display: inline;
  cursor: pointer;
}

.task__edit--link:hover{
  transition: all 0.3s ease 0s;
  border-bottom: 3px solid #0066FF;
}

.task__index{
  background-color: $color4;
  width: 540px;
  height: 548px;
  position: absolute;
  left: calc(12% + 30px);
  top: 115px;
}

.task-modal{
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .6);
  display: none;
  background-color: #fff;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 100px;
  width: 540px;
  height: 653px;
  border-radius: 10px;
  border: 5px solid #3366FF;
  &__title{
    background-color: #E8FFE8;
    height: 50px;
    border-bottom: 1px solid silver;
    display: flex;
    align-items: center;
    &--text{
      margin: 0 auto;
      font-size: 20px;
    }
  }
}

#modal-close{
  margin-right: 10px;
  color: red;
  cursor: pointer;
}