.task{
  height: 100%;
  margin:100px auto 0;
  width: 90%;
  border: 2px solid $color3;
  box-shadow: 4px 4px $color4;

  &__index{
    background-color: $color2;
    width: 100%;
    &--title{
      padding: 10px;
      text-align: center;
      font-size: 35px;
      border-bottom: 1px solid $color3;
    }
  }
  &__unit{
    &--title{
      font-size: 24px;
      padding-left: 10px;

    }
    &--header{
      font-size: 25px;
      padding:5px;
      &--title{
        width:20%;
        padding-left: 10px;
      }
      &--content{
        width: 25%;
      }
      &--start_date{
        width:20%;
      }
      &--end_date{
        width: 20%;
      }
    }
  }
}

