.user__index
  .user__index--title
    %p ユーザー一覧

  .user__index--units
    - @users.each do |user|
      .user__index--unit
        = image_tag user.image.url, class: 'user__index--unit--image', alt: 'default.png'

        
        .user__index--unit--nickname
        .user__index--unit--tasks