@import "reset";
@import "sign";
@import "header";
@import "users/user_show";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
 
body {
    font-family: "Noto Sans Japanese";
    font-weight: bold;
    overflow-x: hidden;
    position: relative;
}
